@font-face {
  font-family: 'PierSans';
  src: url(../fonts/PierSans/PierSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

.dataLeftWrapper {
  width: 20%;
  height: 50vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dataWrapper {
  width:100%;
  height:50vh;
  display:flex;
  justify-content: space-around;
  background-color: #E0F2E9;
}

.toolWrapper {
  width:100%;
  height:10vh;
  display:flex;
  justify-content: center;
}

.toolBox {
  width: 25%;
}

.dataBox {
  width: 20%;
  height: 50vh;
}

.scrapeicon {
height: 80%;
display: block;
margin-top: 5%;
}

.api {
  margin-top: 7.5%;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.api:hover {
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.1);
 }

.toolRightWrapper {
width:35%;
height:10vh;
}

.dataRightWrapper {
  width:40%;
  margin-right:5%;
  height:50vh;
  font-family: 'PierSans';
  font-size: 1em;
  text-align:left;
  padding-top:15px;
}

.toolText {
  font-family: 'PierSans';
  font-size: 3em;
  text-align:left;
}

.tool {
  transition: all 200ms ease-in;
  transform: scale(1);
  width: 8%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2%;
}

#flask.tool {
  width: 12%;
}

.tool:hover {
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.1);
 }

.toolImg {
  width: 13%;
  height: auto;
  margin-bottom: 5%;
  margin-left: 20px;
}

.hoverInfo {
  background-color: #FFD166;
  box-shadow: 2px 2px 3px #888888;
  height: 45%;
  width: 60%;
  border-radius: 20px;
  float:right;
}


#memCol {
  cursor: pointer;
  transition: all 200ms ease-in;
  transform: scale(1);
}

#memCol:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.profile {
  width: 40%;
  height: 40%;
  float:left;
}

#name {
  font-family: 'PierSans';
  font-size: 2em;
}

.pInfo {
  font-family: 'PierSans';
  font-size: 1.1em;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  text-align:left;
}

.members {
  margin-top: 2%;
}

.infoIcon {
  width: 8%;
  margin-left: 5%;
  height: auto;
}

.teamWrapper {
  background-color:#FEDB7B;
  padding-top: 1%;
}

.statsWrapper {
  height:70vh;
  width: 100%;
  background-color:white;
}

.statsRightWrapper {
  width: 70%;
  height: 70vh;
  float:right;
}

.statsLeftWrapper {
  height: 70vh;
  width: 20%;
  float:left;
}

#booklogo {
  margin-left: 8%;
}

.paperImg {
  width: 100%;
  margin-top:10%;
  margin-left:10%;
}

#apiText {
  font-family: 'PierSans';
  text-align:center;
  font-size: 3em;
}

.statLinks {
  transition: all 200ms ease-in;
  transform: scale(1);
  width: 6%;
  height: auto;
  margin-top:3%;
}

.sInfo {
  font-family: 'PierSans';
  font-size: 1.5em;
  text-align:left;
  margin-left:5%;
  margin-right:5%;
  margin-top:3%;
  text-decoration:none;
}

.statLinks:hover {
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.1);
 }