@font-face {
  font-family: 'PierSans';
  src: url(../fonts/PierSans/PierSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

.dataWrapper {
  width:100%;
  height:50vh;
  display:flex;
  justify-content: space-around;
  background-color: #E0F2E9;
}

.toolWrapper {
  width:100%;
  height:10vh;
  display:flex;
  justify-content: center;
}

.toolBox {
  width: 25%;
}

.dataBox {
  width: 40%;
  height: 50vh;
}

.scrapeicon {
height: 90%;
display: block;
margin-left: 40%;
margin-top: 2.5%;
}

.api {
  margin-top: 7.5%;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.api:hover {
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.1);
 }

.toolRightWrapper {
width:35%;
height:10vh;
}

.dataRightWrapper {
  width:40%;
  margin-right:5%;
  height:50vh;
  font-family: 'PierSans';
  font-size: 1em;
  text-align:left;
  padding-top:15px;
}

.toolText {
  font-family: 'PierSans';
  font-size: 3em;
  text-align:left;
}

.tool {
  transition: all 200ms ease-in;
  transform: scale(1);
  width: 8%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2%;
}

#flask.tool {
  width: 12%;
}

.tool:hover {
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.1);
 }

.toolImg {
  width: 13%;
  height: auto;
  margin-bottom: 5%;
  margin-left: 20px;
}