@font-face {
  font-family: 'PierSans';
  src: url(../fonts/PierSans/PierSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

.text {
  font-family: 'PierSans';
  font-size: 1em;
  color: #86888a;
}

.textWrapper {
  margin-top: 5px;
  border-top: 1px solid;
  border-color: #86888a;
}

#titleText {
  font-family: 'PierSans';
  font-size: 1.5em;
}

.gridwrapper {
  width:100%;
  padding-top: 50px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  padding-bottom: 10%;
}

/*left pagination has to change based on range we decide. */

.pagination{
  background-color: #006258;
  margin-top:15px;
  margin-left: 3%;
}
.pagination a {
  transition: background-color .3s;
  background-color: #006258;
}

.pagination li.active a {
  background-color: #006258;
  color: white;
  border-color: #006258;
  cursor: pointer;
}

.buttonColor{
  background-color: #006258;
  color: white;
  outline: none;
}

.pagination li:hover:not(.active) a {
  background-color: #ddd;
}

.searchbar {
  border-radius: 30px;
  outline:none;
  padding-left: 20px;
}

@keyframes slideAndFade {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.grow {
  transition: all 200ms ease-in;
  transform: scale(1);
}

.centerCol{
  padding-top: 10px;
  margin-top: 40px;
  height: 421;
  width:230px;
  margin-left: 3%;
  overflow-y: auto;
}

.grow:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.2);
  cursor: pointer;
 }

.slideAndFade{
  animation: 1s ease slideAndFade;
}

.filterWrapper {
  margin-top: 10px;
  left: 0px;
  margin-left: 3%;
}

.searchWrapper {
  position: absolute;
  margin-right: 3%;
  margin-top: 10px;
  right: 0px;
}

.sort1px {
  margin-left: 5px;
}
