.user {
  margin-top:70px;
  padding: 10px;
  width: 100%;
}
.cover {
  float:left;
  margin: 5%;
  margin-right: 0;
  margin-top: 5%;
  width: 80%;
  padding: 0;
  padding-left: 28%;
}
.info {
  float:left;
  width: 80%;
  /*border: 3px solid #000000;*/
  margin: 10px;
  padding-left: 10px;
  margin-left: 0px;
  padding-right: none;
  margin-right: 5%;

}
h1 {
display: block;
font-size: 3em;
}
h2 {
display: block;
font-size: 1.7em;
}

.left {
  width: 40%;
  float: left; 
}
.right {
  width: 60%;
  float: left;
}

a:visited, a:link {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
color: #777;
text-decoration: underline;
}

hr { 
  display: block;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  border-style: inset;
  border-width: 3px;
  
} 

.review {
  background: #e5d6c7; 
  padding: 10px; 
  border-radius: 3%; 
  border-color: #e5d6c7;
}