@font-face {
  font-family: 'PierSans';
  src: url(../fonts/PierSans/PierSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

.searchSearchwrapper {
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.searchSearchbar {
  height: 7vh;
  display: flex;
  flex-direction: column;
  outline: none;
  width:600px;
  border-radius: 30px;
  color: #464F51;
  font-size: 1.5em; 
  padding-left: 20px;
  box-shadow: 2px 2px 3px #888888;
  
}

.resultsSearchbar{
  position: absolute;
  top:10%;
  right: 2%;
}

.searchSearchbutton {
  width: 20%;
  height: 7vh;
  display:block;
  margin: 0 auto;
  font-size: 1.25em;
  margin-top: 2%;
}

.resultItem {
height: 300px;
padding-bottom: 1%;
padding-left: 2.5%;
padding-right: 2.5%;
}

.imagePortion {
  font-family: 'PierSans';
  font-size: 1.3em;
  float:left;
  width: 20%;
  height: 100%;
  text-align: center;
}

.resultImage {
max-height: 100%;
max-width: 100%;
padding-bottom: 10px;
display: block;
margin: 0 auto;
}

.wordPortion {
  float:right;
  width: 75%;
  height: 100%;
  font-family: 'PierSans';
}

.slogan {
  text-shadow: 2px 2px 2px #888888;
  margin:0;
  color:white;
  font-family: 'PierSans';
  margin-bottom: 2%;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn{
  animation: 1s ease fadeIn;
}