/* Font */
@font-face {
  font-family: 'PierSans';
  src: url(fonts/PierSans/PierSans-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

/* Bootstrap carousel */
@media (min-width: 992px) {
  .col-md-1-5 { width: 20%; }
  .col-md-2-5 { width: 40%; }
  .col-md-3-5 { width: 60%; }
  .col-md-4-5 { width: 80%; }
  .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
  .col-lg-1-5 { width: 20%; }
  .col-lg-2-5 { width: 40%; }
  .col-lg-3-5 { width: 60%; }
  .col-lg-4-5 { width: 80%; }
  .col-lg-5-5 { width: 100%; }
}

.carousel-control {
  padding-top:10%;
  width:3%;
}

#awin {
  text-align: center;
  padding-top: 2%;
}

.cons {
  margin: 0 auto;
  padding-top:5%;
  width:95%;
}

/* Navbar */

.navbar {
  background-color: #006258;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  z-index: 1;
}
.navbar .navbar-nav li a {
  font-family: 'PierSans';
  font-size: 120%;
  color: #fff;
}
.navbar .navbar-brand {
  font-size: 140%;
  color: #fff;
}

body {
  background: #f2f1f0;
}



/* ------------------ PARALLAX STUFF ------------------


html {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
body {
  margin:0;
  padding:0;
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
header {
  box-sizing: border-box;
  min-height: 40vw;
  padding: 30vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}
header, header:before {
  background-position: 50% 50%;
  background-size: 100% 50%;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
	display: block;
	background-color: #8a8;
  background-image: url(/static/misc/atx_skyline.jpg);
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
	padding: 1em 0;
}

*/
