

/* BASIC CSS FOR BETTERREADS */


/* Font */
@font-face {
  font-family: 'PierSans';
  src: url(../fonts/PierSans/PierSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

/* Bootstrap carousel */
@media (min-width: 992px) {
  .col-md-1-5 { width: 20%; }
  .col-md-2-5 { width: 40%; }
  .col-md-3-5 { width: 60%; }
  .col-md-4-5 { width: 80%; }
  .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
  .col-lg-1-5 { width: 20%; }
  .col-lg-2-5 { width: 40%; }
  .col-lg-3-5 { width: 60%; }
  .col-lg-4-5 { width: 80%; }
  .col-lg-5-5 { width: 100%; }
}

.carousel-control {
  padding-top:10%;
  width:3%;
}

#awin {
  text-align: center;
  padding-top: 5%;
}

.cons {
  margin: 0 auto;
  padding-top:5%;
  width:95%;
}



/* Navbar */

.navbar {
  background-color: #006258;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  z-index: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-nav li a {
  font-family: 'PierSans';
  font-size: 120%;
  color: #fff;
}
.navbar .navbar-brand {
  font-size: 140%;
  color: #fff;
}

/* Parallax - About Page */
.parallax {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/misc/about.jpg");
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -200px;
  background-size: cover;
}

.parallax p {
  font-size: 120%;
}

#parallax-header {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.bookPageWrapper {
  position: relative;
}

.homePageQuote h1 {
  font-family: 'Roboto Slab', serif;
}

.homePageQuote p {
  font-family: 'Roboto Slab', serif;
  font-size: small;
}

.bookCarousel {
  height: 380px;
}

.modelCarousel {
  height: auto;
  width: 100%;
}


/* Misc. */
body {
  background: #ffffff;
}

center-block {
  display: block;
  margin: auto;
}

.badgeColor {
  color: #ffffff;
  background-color: #006258;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notfoundwrapper {
  background: url("/static/misc/notfound.jpg"); 
  animation: .5s ease fadeIn;
  background-size: cover;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.notfoundh1{
  color:white;
  font-family: 'PierSans', serif;
  font-size: 3em;
}

.notfoundp{
  color:white;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
}

