<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 2.5%;
    float: left;
    height: 250px;
}


div.gallery img {
    width: auto;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body style="font-family;">

<div class="gallery">
    <img src="fred.jpg" alt="Fredrik Backman"  height="400">
  <div class="desc">Fredrik Backman</div>
</div>

<div class="gallery">
    <img src={{ book_image }} alt="David Lagercrantz"  height="400">
    <div class="desc" >David Lagercrantz</div>
</div>

<div class="gallery">
    <img src="john.jpg" alt="John Green"  height="400">
    <div class="desc">John Green</div>
    
</div>


</body>
</html>