<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 2.5%;
    float: left;
    height: 250px;
}


div.gallery img {
    width: auto;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="ove.jpg">
    <img src="ove.jpg" alt="A Man Called Ove"  height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="girl.jpg">
    <img src="girl.jpg" alt="The Girl Who Takes an Eye for an Eye"  height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="paper.jpg">
    <img src="paper.jpg" alt="Paper Towns"  height="400">
  </a>
</div>


</body>
</html>