<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.title {
    padding: 10px;
    width: 100%;
}
.cover {
    float:left;
    margin: 10px;
    margin-right: 0;
    width: 45%;
}
.info {
    float:right;
    width: 52.5%;
    /*border: 3px solid #000000;*/
    margin: 10px;
    padding-left: 10px;
    margin-left: 0px;
}
h1 {
  display: block;
  font-size: 4em;
}
h2 {
  display: block;
  font-size: 2em;
}
</style>
</head>
	<body>
       <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">betterreads</a>
                  </div>
          
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">books<span class="sr-only">(current)</span></a></li>
                      <li><a href= {{ url_for('series_model') }} >series</a></li>
                      <li><a href= {{ url_for('authors_model') }} >authors</a></li>
                      <li><a href= {{ url_for('review_model') }} >reviews</a></li>
                      <li><a href= {{ url_for('about_page') }} >about</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
        </nav>
      <div class="title">
          <center><h1><b>{{ title }}</b></h1></center>
        
      </div>
      <div class="cover">
          <img src={{ cover_art }} alt="Book Cover Art" width="400" align="right">
      </div><!-- book_image -->
      <div class="info">
        <h2><b>Author: </b><a href={{ url_for('author_instance', author_id=author_id) }}>{{ author }}</a></h2>
        <h2><b>Series: </b><a href={{ url_for('series_instance', series_id=series_id) }}>{{ series }}</a></h2>
        <h2><b>Rating: </b>{{ rating }}</h2>
      </div>
	</body>
</html>