<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 2.5%;
    float: left;
    width: 180px;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 8px;
    text-align: center;
}
</style>
</head>
<body>

{% for review_image, rating, book, user in series_grid %}
  <div class="gallery">
      <img src="{{ review_image }}" alt="{{ rating }}">
    <div class="desc"> {{ book }}</div>
    <div class="desc">Review by {{ user }}</div>
  </div>
{% endfor %}



</body>
</html>