<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 2.5%;
    float: left;
    width: 180px;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 8px;
    text-align: center;
}
</style>
</head>
<body style="font-family:helvetica;">

<div class="gallery">
    <img src="4star.png" alt="four star review"  height="400">
  <div class="desc">A Man Called Ove</div>
  <div class="desc">Review by Emily May</div>
</div>

<div class="gallery">
    <img src="3star.png" alt="three star review"  height="400">
    <div class="desc" >The Girl Who Takes an Eye for an Eye</div>
    <div class="desc" >Review by Joao Carlos</div>
</div>

<div class="gallery">
    <img src="5star.png" alt="five star review"  height="400">
    <div class="desc">Paper Towns</div>
    <div class="desc" >Review by Jamie Felton</div>
</div>


</body>
</html>