<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Datamaps Testing</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script  src="http://datamaps.github.io/scripts/datamaps.usa.min.js"></script>

</head>
<body>
  <h3>Datamap Test</h3>
  <div id="map" style="position: relative; width: 500px; height: 300px;">
    <!-- Map container -->
    <p>Sample Text</p>
  </div>

  <!-- JS libraries -->
  <script>

    var map = new Datamap({
      element: document.getElementById('map'),
      scope: 'usa',
      fills: {
        defaultFill: 'rgba(23,42,110,0.9)' // Any hex, color name or rgb/rgba value
      },
      data: {
        CA: {
          numThings: {{stateCount["CA"]}}
        },
        TX: {
          numThings: {{stateCount["TX"]}}
        },
        FL: {
          numThings: {{stateCount["FL"]}}
        },
        NY: {
          numThings: {{stateCount["NY"]}}
        },
        PA: {
          numThings: {{stateCount["PA"]}}
        },
        IL: {
          numThings: {{stateCount["IL"]}}
        },
        OH: {
          numThings: {{stateCount["OH"]}}
        },
        GA: {
          numThings: {{stateCount["GA"]}}
        },
        MI: {
          numThings: {{stateCount["MI"]}}
        },
        NC: {
          numThings: {{stateCount["NC"]}}
        },
        NJ: {
          numThings: {{stateCount["NJ"]}}
        },
        VA: {
          numThings: {{stateCount["VA"]}}
        },
        WA: {
          numThings: {{stateCount["WA"]}}
        },
        TN: {
          numThings: {{stateCount["TN"]}}
        },
        IN: {
          numThings: {{stateCount["IN"]}}
        },
        AZ: {
          numThings: {{stateCount["AZ"]}}
        },
        MA: {
          numThings: {{stateCount["MA"]}}
        },
        AL: {
          numThings: {{stateCount["AL"]}}
        },
        MO: {
          numThings: {{stateCount["MO"]}}
        },
        WI: {
          numThings: {{stateCount["WI"]}}
        },
        MD: {
          numThings: {{stateCount["MD"]}}
        },
        SC: {
          numThings: {{stateCount["SC"]}}
        },
        MN: {
          numThings: {{stateCount["MN"]}}
        },
        CO: {
          numThings: {{stateCount["CO"]}}
        },
        LA: {
          numThings: {{stateCount["LA"]}}
        },
        KY: {
          numThings: {{stateCount["KY"]}}
        },
        OR: {
          numThings: {{stateCount["OR"]}}
        },
        CT: {
          numThings: {{stateCount["CT"]}}
        },
        OK: {
          numThings: {{stateCount["OK"]}}
        },
        KS: {
          numThings: {{stateCount["KS"]}}
        },
        NV: {
          numThings: {{stateCount["NV"]}}
        },
        AR: {
          numThings: {{stateCount["AR"]}}
        },
        UT: {
          numThings: {{stateCount["UT"]}}
        },
        IA: {
          numThings: {{stateCount["IA"]}}
        },
        MS: {
          numThings: {{stateCount["MS"]}}
        },
        NE: {
          numThings: {{stateCount["NE"]}}
        },
        WV: {
          numThings: {{stateCount["WV"]}}
        },
        NM: {
          numThings: {{stateCount["NM"]}}
        },
        ID: {
          numThings: {{stateCount["ID"]}}
        },
        ME: {
          numThings: {{stateCount["ME"]}}
        },
        RI: {
          numThings: {{stateCount["RI"]}}
        },
        MT: {
          numThings: {{stateCount["MT"]}}
        },
        HI: {
          numThings: {{stateCount["HI"]}}
        },
        NH: {
          numThings: {{stateCount["NH"]}}
        },
        WY: {
          numThings: {{stateCount["WY"]}}
        },
        DE: {
          numThings: {{stateCount["DE"]}}
        },
        ND: {
          numThings: {{stateCount["ND"]}}
        },
        VT: {
          numThings: {{stateCount["VT"]}}
        },
        AK: {
          numThings: {{stateCount["AK"]}}
        },
        SD: {
          numThings: {{stateCount["SD"]}}
        },
        GU: {
          numThings: {{stateCount["GU"]}}
        },
        PR: {
          numThings: {{stateCount["PR"]}}
        },
        DC: {
          numThings: {{stateCount["DC"]}}
        },
        VI: {
          numThings: {{stateCount["VI"]}}
        },
        AS: {
          numThings: {{stateCount["AS"]}}
        },
        MP: {
          numThings: {{stateCount["MP"]}}
        }
      },
      geographyConfig: {
        popupTemplate: function(geo, data) {
          return ['<div class="hoverinfo"><strong>',
                  'Number of Members in ' + geo.properties.name,
                  ': ' + data.numThings,
                  '</strong></div>'].join('');
        }
      }
    });
  </script>

</body>
